@use "~/style/font.scss";
@use "~/style/color.scss";

@include font.load-font("Raleway");

:root {
  --spacing-nm-200: #{clamp(font.rem(16), 1vw, font.rem(20))};
  --spacing-nm-100: #{clamp(font.rem(10), 0.5vw, font.rem(12))};

  --p-nm-200: #{clamp(font.rem(20), 2vw, font.rem(24))};
  --p-nm-100: #{clamp(font.rem(14), 1vw, font.rem(16))};

  --radius-nm-100: #{clamp(font.rem(4), 0.2vw, font.rem(6))};

  --font-body: Raleway, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-background-1: #{color.$light-1};
  --color-text-1: #{color.$dark-1};
  --color-accent: #{color.$dark-accent};
  --color-error: #{color.$dark-error};

  @media (prefers-color-scheme: dark) {
    --color-background-1: #{color.$dark-1};
    --color-text-1: #{color.$light-1};
    --color-accent: #{color.$light-accent};
    --color-error: #{color.$light-error};
  }
  --dc__spacing-nm-100: 10px;
  --dc__p-nm-100: 32px;
  --dc__radius-nm-100: 16px;

  --dc__color-background: yellow;
  --dc__color-text: purple;
  --dc__color-accent: darkcyan;
  --dc__color-error: crimson;

  @media (prefers-color-scheme: dark) {
    --dc__color-background: purple;
    --dc__color-text: yellow;
    --dc__color-accent: cyan;
    --dc__color-error: hotpink;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background-1);
  color: var(--color-text-1);
  font-family: var(--font-body);
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

strong, b {
  font-weight: bold;
  color: var(--color-accent);
}

input, button, textarea, option {
  font-family: var(--font-body);
  border: 0;
}

button {
  cursor: pointer;
}
